 <div class="user-details">
  <h1> Me </h1>
  <p> {{site.user_description}} </p>
  
	 
	 
  <ul style="list-style-type:square">
  </ul>
  <hr>
  <h3>Work / Internship Experience</h3>
  <ul style="list-style-type:square">
	<li><a style="text-decoration:none; color:grey;" href="http://www.ditag.com.tr/">Ditag Tasarım</a></li>
  </ul>	
  <hr>
  <h3>Project</h3>
  <ul style="list-style-type:square">
        <li><a style="text-decoration:none; color:grey;" href="heat transfer thesis.pdf" target="_blank">Machine Design I: Determining Heat Transfer Coefficients of 0.08 mm, 0.1 mm Diameter Wires in Wind Tunnel</a></li>
	<li><a style="text-decoration:none; color:grey;" href="INVESTIGATION OF FUEL CELL MODELS AND CREEP EXPERIMENTS.pdf" target="_blank">Machine Design II: Investigation of Fuel Cell Models and Creep Experiments</a></li>
	<li><a style="text-decoration:none; color:grey;" href="YERYUZU_GOZLEM_UYDUSU_MODELLENMESI_VE_ANALIZI.pdf" target="_blank">Graduate Thesis: Design, Analysis of Earth Observation Satellite </a></li>
	<li><a style="text-decoration:none; color:grey;" href="bug.html" target="_blank">Bug'2 UAV Project</a></li>
        <li><a style="text-decoration:none; color:grey;" href="3d.html" target="_blank">3D and AR Parts Embedded Website</a></li>
	<li><a style="text-decoration:none; color:black;" href="https://github.com/kubilayaltindis" target="_blank">GitHub</a> 	   |   </>   
	    <a style="text-decoration:none; color:black;" href="https://grabcad.com/alper.sanli-1" target="_blank"> GrabCAD</a> 	   |   </>  
	    <a style="text-decoration:none; color:black;" href="https://repl.it/@kubilayaltindis" target="_blank"> Repl.it</a> 	      </>  
  </ul>	
  <hr>
 
	  
	  
	 

    </div>
</div>
